body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
}

.title {
	padding-bottom: 10px;
	font-size: 63px;
}

.subTitle {
	margin-bottom: 30px;
	font-size: 30px;
}

.nav {
	padding-left: 200px;
}

.navTitle {
	font-size: 20px;
}

.floatLeft {
	float: left;
}

.listRow {
	min-height: 123px;
	padding-top: 15px;
}

.listImage {
	width: 35px;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 9px;
}

.listTest {
	margin-left: 10px;
	margin-top: 10px;
}

.dashboard {
	width: 100%;
	height: 900px;
	border: 1px solid #ddd;
}

.scheduleInput:read-only {
	border: 0px;
}

.scheduleInput {
	border: 1px solid gray;
}